<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <p v-if="logado">Usuário logado: {{nome}}</p>

    <p v-else-if="anonimo">Navengado como Anônimo</p>

    <!-- <p v-if="!logado">Nenhum usuário logado</p> -->
    <p v-else>Nenhum usuário logado</p>

    <button @click="logado = !logado">
        {{ logado ? 'sair' : 'entrar' }}</button>

    <br><br> <input type="checkbox" v-model="anonimo"> Entrar como anônimo
</div>

<script>
new Vue ({
    el: '#app',
    data: {
        nome: 'Zé',
        logado: false,
        anonimo: false,
    }
})
</script>