<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">

    <template v-if="logado">
        <p>Usuário logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
    </template>

    <p v-else-if="anonimo">Navengado como Anônimo</p>
    <p v-else>Nenhum usuário logado</p>

    <button @click="logado = !logado">
        {{ logado ? 'sair' : 'entrar' }}
    </button>

    <br><br> <input type="checkbox" v-model="anonimo"> Entrar como anônimo V4

    <hr>

    <footer v-show="logado">
        desenvolvido para você <b> {{ nome }} </b>!!! 
    </footer>

    <footer v-show="!logado">
        desenvolvido para você meu amigo Anônimo ...
    </footer>
</div>

<script>
new Vue ({
    el: '#app',
    data: {
        nome: 'Zé',
        logado: false,
        anonimo: false,
    }
})
</script>