<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor , i) in cores">{{ i + 1 }} - {{ cor }} </li> <!--   primeiro o valor do array, e depois o 
                                                                            indice, que pode ter qualquer nome (no v-for) -->
                                                                            
                                        <!-- i + 1 e para não começar no ZERO  -->
    </ul>

    <hr>

    <template v-for="(cor, i) in cores">
        <h4>{{ cor }}</h4>
        <p>{{ i + 1 }}</p>
    </template>

    <hr>

    <div v-for="(cor, i) in cores">
        <h4>{{ cor }}</h4>
        <p>{{ i + 1 }}</p>
    </div>

    <!--
        diferença entre o template para a div
        cada template não aparecendo no 'inspect' não criando um elemtento no HTML,
        já a div, e um elemento do HTML.
    -->

</div>

<script>
new Vue ({
    el: '#app',
    data: {
        cores: [
            'vermelho',
            'verde',
            'laranja',
            'azul'
        ],
        pessoas: [
            { nome: 'Bruno', idade: 36, peso: 90 },
            { nome: 'Leo', idade: 25, peso: 88 },
            { nome: 'Ana', idade: 20, peso: 70 }
        ]
    }
})
</script>

<style>
h4, p {
    display: inline;
}
</style>