<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor , i) in cores">{{ i + 1 }} - {{ cor }} </li>    <!--
                                                                            primeiro o valor do array, e depois o 
                                                                            indice, que pode ter qualquer nome (no v-for)
                                                                        -->
                                                                            
                                        <!-- i + 1 e para não começar no ZERO  -->
    </ul>

    <hr>

    <template v-for="(cor, i) in cores" :key="cor">     <!--
                                                            o elemento KEY e importante para fornecer ao VUEJS
                                                            um elemento chave para a que sua ordenação não sofra alteração
                                                        -->
        <h4>{{ cor }}</h4>
        <p>{{ i + 1 }}</p>
    </template>

    <hr>

    <ul>
        <!-- <li v-for="pessoa in pessoas">{{ pessoa.nome }}</li> -->
        <li v-for="pessoa in pessoas">
            <div v-for="(valor, chave, index) in pessoa">
                ({{ index + 1 }}) - {{ chave }} = {{ valor }}
            </div>
            <hr>
        </li>
    </ul>

    <hr>

    <div v-for="n in 10">{{ n }}</div>

</div>

<script>
new Vue ({
    el: '#app',
    data: {
        cores: [
            'vermelho',
            'verde',
            'laranja',
            'azul'
        ],
        pessoas: [
            { nome: 'Bruno', idade: 36, peso: 90 },
            { nome: 'Leo', idade: 25, peso: 88 },
            { nome: 'Ana', idade: 20, peso: 70 }
        ]
    }
})
</script>

<style>
h4, p {
    display: inline;
}
</style>