<style>
    body{ font-size: 16px }
    p { font-size: 1.35rem }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <input type="text" v-on:input="alterarTitulo">
    <p> {{ titulo }} </p>
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            titulo: 'usando vue JS - texto de teste',
        },
        methods: {
            alterarTitulo (event) {
                this.titulo = event.target.value
            }
        }
    })
</script>