@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');
/* Geral */
html {
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: flex;
    flex-direction: column
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
}

/* pontos */
.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    font-weight: 300;
    font-size: 1.6rem;
}

.life-bar {
    width: 80%;
    height: 20px;
    border: 1px solid #aaa
}

.life-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    background: green;
}

.life-bar .life.danger {
    background: red;
}