<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    #app{
        display: flex;
        justify-content: space-around;
    }
    
    .demo {
        width: 100px;
        height: 100px;
        background: grey;
    }
    .c1 { background: red; }
    .c2 { background: orange; }
    .c3 { background: green; }
    h3 { width: 100%; }
</style>

<div id="app">
    <div class="demo" :class="estilo1"
        @click="aplicarC1 = !aplicarC1"></div>

    <div class="demo" :class="{c2: aplicarC2}"
    @click="aplicarC2 = !aplicarC2"></div>

    <div class="demo":class="{c3: aplicarC3}"
    @click="aplicarC3 = !aplicarC3"></div>
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            aplicarC1: false,
            aplicarC2: false,
            aplicarC3: false,
        },
        computed: {
            estilo1 () {
                return {
                    c1: this.aplicarC1,
                    c2: !this.aplicarC1,
                }
            }
        },
    })
</script>