<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    .caixas{
        display: flex;
        justify-content: space-around;
    }
    
    .demo {
        width: 100px;
        height: 100px;
        background: grey;
    }
    .c1 { background: red; }
    .c2 { background: orange; }
    .c3 { background: green; }
    h3 { width: 100%; color: bisque }
    .girar {
        border-radius: 25%
    }
</style>

<div id="app">
    <div class="caixas">

        <div class="demo" :class="estilo1"
        @click="aplicarC1 = !aplicarC1"></div>

        <div class="demo"></div>

        <div class="demo" :class="[classeCSS, '']"></div>

    </div>
    <hr>
    <input type="text" v-model="classeCSS">
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            aplicarC1: false,
            classeCSS: [
                'c1',
                'girar',
            ]
        },
        computed: {
            estilo1 () {
                return {
                    c1: this.aplicarC1,
                    c2: !this.aplicarC1,
                }
            }
        },
    })
</script>