<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    #app{
        display: flex;
        justify-content: space-around;
    }
    
    .demo {
        width: 100px;
        height: 100px;
        background: grey;
    }
    .c-1 { background: red; } //colocar aspas simples no vue
    .c2 { background: orange; }
    .c3 { background: green; }
</style>

<div id="app">
    <div class="demo" :class="{'c-1': aplicarC1}"
        @click="aplicarC1 = !aplicarC1"></div>

    <div class="demo" :class="{c2: aplicarC2}"
    @click="aplicarC2 = !aplicarC2"></div>

    <div class="demo":class="{c3: aplicarC3}"
    @click="aplicarC3 = !aplicarC3"></div>
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            aplicarC1: false,
            aplicarC2: false,
            aplicarC3: false,
        }
    })
</script>