<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    .caixas{
        display: flex;
        justify-content: space-around;
    }
    
    .demo {
        width: 100px;
        height: 100px;
        background: grey;
    }
    .c1 { background: red; }
    .c2 { background: orange; }
    .c3 { background: green; }
    h3 { width: 100%; color: bisque }
    .girar {
        border-radius: 25%
    }
</style>

<div id="app">
    <div class="caixas">

        <div class="demo" :style="{'background': cor}"></div>

        <div class="demo" :style="{'backgroundColor': cor}"></div>

        <div class="demo" :style="[meuEstilo, {height: altura}]"></div>

    </div>
    <hr>
    <input type="text" placeholder="cor" v-model="cor">
    <input type="text" placeholder="largura" v-model="largura">
    <input type="text" placeholder="altura" v-model="altura">
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            cor: 'red',
            largura: 250,
            altura: 20
        },
        computed: {
            meuEstilo () {
                return {
                    backgroundColor: this.cor,
                    width: this.largura + 'px'
                }
            }
        },
    })
</script>