<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <h2>{{ titulo }}</h2>
    <hr>
    <p> {{ contador }} </p>
    <button v-on:click="somar(5, $event)">Somar 5</button>

    <p v-on:mousemove="atualizarXY">
        Mouse: {{ x }} e {{ y }}

        <span v-on:mousemove.stop="">Parar aqui</span>

    </p>
    <a v-on:click.prevent="" href="http://google.com">google</a>
    <hr>
    <input type="text" v-on:keyup.enter.alt="exibirAlert">
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            contador: 0,
            titulo: 'Evento 5',
            x: 0,
            y: 0
        },
        methods: {
            somar (passo, ev) {
                console.log(passo, ev)
                this.contador += passo
            },
            atualizarXY (e) {
                this.x = event.clientX
                this.y = event.clientY
            },
            exibirAlert () {
                alert('estou te alertando')
            }
        },
    })
</script>