<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <h2>{{ titulo }}</h2>
    <hr>
    <p> {{ contador }} </p>
    
    <p> {{ contador > 10 ? 'maior que 10' : 'menor do que 10' }} </p>
    <button v-on:click="somar(5, $event)">Somar 5</button>

<script>
    new Vue ({
        el: '#app',
        data: {
            contador: 0,
            titulo: 'Evento Interpolacao'
        },
        methods: {
            somar () {
                this.contador ++
            }
        }
    })
</script>