<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p> {{ titulo }} </p>
    <input type="text" v-bind:value="titulo"
        v-on:input="titulo = $event.target.value">
    <h2>two-way-binding</h2>
    <!-- two-way-binding -->
    <input type="text" v-model="titulo">
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            titulo: 'comecando o curso pra valer'
        }
    })
</script>

<!--
    v-bind: fazer uma 'bind' do JS para o HTML.
    v-on: evento do HTML, podendo atualizar o dados no JS.
    v-model: faz a atualização dos dois lados (JS--HTML como HTML--JS). 
-->