<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p> {{ titulo }} </p>
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            titulo: 'comecando o curso pra valer'
        }
    })
</script>