<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p> {{ titulo }} </p>
    <p>{{ saudacao () }}</p> <!-- pegando uma função -->
    <a v-bind:href="link" v-bind:data="dataVue">google</a>
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            titulo: 'comecando o curso pra valer 4',
            link: 'http://google.com.br',
            dataVue: 'testeDataVue'
        },
        methods: {
            saudacao: function(texto) {
                return this.titulo
            }
        }
    })
</script>