<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p> {{ titulo }} </p>
    <p>{{ saudacao () }}</p> <!-- pegando uma função -->
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            titulo: 'comecando o curso pra valer 3'
        },
        methods: {
            saudacao: function(texto) {
                return this.titulo
            }
        }
    })
</script>