<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p v-once> {{ titulo }} </p>
    <p>{{ saudacao () }}</p> <!-- pegando uma função -->
    <a v-bind:href="link" v-bind:data="dataVue">google</a>
    <hr>
    <p v-html="linkHTML"></p>
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            titulo: 'comecando o curso pra valer 6',
            link: 'http://google.com.br',
            linkHTML: '<a href="http://google.com.br">google</a>'
        },
        methods: {
            saudacao: function(texto) {
                this.titulo = "Novo Titulo"
                return this.titulo
            }
        }
    })
</script>